<div class="container">

  <div class="panel-heading"  style="background-color: bisque">
    <h1>My Profile</h1>
  </div>
  <div class="row">
    <div class="body">
    <div class="col-xs-12 col-sm-10 cols-md-8 cols-sm-offset-1 cols-md-offset-2">
      <form (ngSubmit)="onSubmit()">
        <!--<h3 class="ui header" class="text-center">Register</h3>-->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <span>Email:  {{customerData.username}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <span>First Name: {{customerData.firstName}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <span>Last Name: {{customerData.lastName}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <span>Phone Number: {{customerData.phoneNumber}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <span>Title: {{customerData.title}}</span>
            <br>
          </div>

          <div class="col-sm-6">
            <span>Gender: {{customerData.gender}}</span>
            <br>

          </div>
        </div>

        <br>
        <button class="btn btn-primary">Update</button>

      </form>
    </div>

  </div>

</div>
</div>
