<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<app-header></app-header>-->
      <!--&lt;!&ndash;<app-recipes></app-recipes>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-shopping-list></app-shopping-list>&ndash;&gt;-->
      <!--&lt;!&ndash;<br>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-login></app-login>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-register></app-register>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
  <!--<div class="row">-->
<!--<nav class="nav navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a href="#" class="navbar-brand">Oliven Online Shopping</a>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a href="#">Home</a></li>-->
        <!--<li><a href="#">About Us</a></li>-->
        <!--<li><a href="/login">Login</a></li>-->
        <!--<li><a href="/register">Sign Up</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle">Manage<span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Save Data</a></li>-->
            <!--<li><a href="#">Fetch Data</a></li>-->
          <!--</ul>-->
        <!--</li>-->

      <!--</ul>-->

    <!--</div>-->
  <!--</div>-->

<!--</nav>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="cols-xs-12">-->
      <!--<router-outlet></router-outlet>-->
      <!--<app-checkout></app-checkout>-->
      <!--<app-get-all-products></app-get-all-products>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->


  <!-- <div class="social-container">
    <a href="#"><div class="social-icon-container">Hom'e</div></a>
    <a href="#"><div class="social-icon-container">Store</div></a>
    <a href="#"><div class="social-icon-container">D'DD</div></a>
  </div> -->

<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
<header>

  <div class="social-container nav">
    <a routerLink="/home"><div class="social-icon-container"><span>Home</span></div></a>
    <a routerLink="/login"><div class="social-icon-container"><span>Login</span></div></a>
    <a routerLink="/app-addproduct"><div class="social-icon-container"><span>Register</span></div></a>
    <a routerLink="/app-list-all-users"><div class="social-icon-container"><span>Cart</span></div></a>
    <!--<a routerLink="/men"><div class="social-icon-container"><span>Men</span></div></a>-->
    <a routerLink="/women"><div class="social-icon-container"><span>Women</span></div></a>
    <a routerLink="/kids"><div class="social-icon-container"><span>Kids</span></div></a>
    <a routerLink="/about-us"><div class="social-icon-container"><span>About</span></div></a>
  </div>

  <!-- <div class="social-container">
    <a href="#"><div class="social-icon-container">Hom'e</div></a>
    <a href="#"><div class="social-icon-container">Store</div></a>
    <a href="#"><div class="social-icon-container">D'DD</div></a>
  </div> -->
</header>


<!--<app-home></app-home>-->
<!--<app-kids></app-kids>-->
<!--<app-login></app-login>-->
<!--<app-add-user></app-add-user>-->
<!--<app-list-all-users></app-list-all-users>-->
<!--<app-addproduct></app-addproduct>-->
<!--<app-centralize-header></app-centralize-header>-->
<!--<app-get-all-products></app-get-all-products>-->
<!--<app-view-product></app-view-product>-->
<!--<app-home></app-home>-->
<!--<app-account></app-account>-->
<!--<app-upoladfile></app-upoladfile>-->
<!--<app-customer></app-customer>-->
<!--̣<app-header></app-header>-->
<!--<app-uploadfiletospring></app-uploadfiletospring>-->
<!--<hr>-->
<!--<hr>-->
<!--<app-listuploadedimages></app-listuploadedimages>-->


